@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-border;
}

body {
  @apply bg-background font-mono text-foreground;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}
